* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --text-color: #000;
  --hover-color: #0071ff;
  --text-color2: #ffffff;
  --secondary-color: green;
  --space-p-color-: #535252;
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

/* Header stylings */
.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.1rem;
}

.navbar {
  display: flex;
}

.nav-lists {
  font-size: 1.7rem;
}

.nav-lists a {
  text-decoration: none;
  margin: 2rem;
  color: var(--text-color);
  transition: all ease.5s;
}

.nav-lists a:hover {
  color: var(--hover-color);
  cursor: pointer;
}

@media screen and (max-width: 56.25rem) {
  .header-section {
    flex-direction: column;
  }
}
/* End of header stylings */

/* Home stylings */
.home-section {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./Assets/background-img.jpeg);
  width: 100%;
  height: 54rem;
  background-size: contain;
  background-position: top;
}
.home-container {
  text-align: center;
  color: var(--text-color2);
  padding-top: 11rem;
}

.home-container h1 {
  font-size: 5rem;
  font-weight: 700;
}

.home-container p {
  font-size: 2rem;
}

.home-container h3 {
  background-color: var(--secondary-color);
  padding: 1rem;
  color: var(--text-color2);
  justify-content: center;
  width: 15rem;
  margin: 2rem 45%;
  font-size: 1.7rem;
  border-radius: 5px;
  transition: all ease 0.5s;
}

.home-container h3:hover {
  background: var(--text-color2);
  color: var(--text-color);
}

.home-container a {
  text-decoration: none;
}

@media screen and (max-width: 37.5rem) {
  .home-container h1 {
    font-size: 4rem;
    flex-wrap: nowrap;
  }
  .home-container p {
    font-size: 1.7rem;
  }
  .home-container h3 {
    margin: 2rem 35%;
  }
}
/* End of Home stylings */
/* About Us stylings */
.about {
  margin-top: 4rem;
}

.about h2 {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 2rem;
}

.about-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
  flex-wrap: wrap;
}

.about-text {
  width: 47%;
}

.about-text p {
  width: 100%;
  font-size: 1.7rem;
  text-align: justify;
}

.about-img {
  width: 50%;
}

.about-img img {
  width: 100%;
  height: 30rem;
}

@media screen and (max-width: 56.25rem) {
  .about-container {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4rem;
  }

  .about-img {
    width: 90%;
    order: 1;
  }
  .about-text {
    width: 90%;
    order: 2;
  }
}
/* End of About Us styling */
/* Spaces stylings */
.available-space {
  width: 100%;
}

.available-spaces {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.5rem;
}
.available-space h2 {
  padding: 2rem 0;
  text-align: center;
  font-size: 3rem;
}
.space {
  width: 35rem;
  border: 1px solid var(--space-p-color-);
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.space:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}
.space img {
  width: 100%;
  height: 20rem;
}

.space h3 {
  font-size: 2rem;
  padding-left: 1rem;
}

.space p {
  font-size: 1.7rem;
  color: var(--space-p-color-);
  padding-left: 1rem;
}

.space-booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.btn {
  background: var(--secondary-color);
  border: none;
  width: 8rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 4px;
  color: var(--text-color2);
  transition: all ease .5s;
}

.btn:hover{
  background: transparent;
  border: 1px solid var(--text-color);
  color: var(--text-color);
}

.space h4 {
  font-size: 1.9rem;
  font-weight: 700;
}

@media screen and (max-width: 46.25rem) {
  .space {
    width: 60rem;
  }
}

@media screen and (max-width: 40.63rem) {
  .space {
    margin: 0 2rem;
  }
}
/* End of Spaces stylings */

/* Amenities section styling */
.amenities {
  padding: 3rem 0;
  margin-top: 3rem;
}

.amenities h2 {
  font-size: 3rem;
  text-align: center;
}

.amenities-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 2rem 2rem;
}

.amenity {
  border: 1px solid var(--space-p-color-);
  width: 28rem;
  padding: 1rem;
}

.amenity h4 {
  font-size: 2.3rem;
}

.amenity p {
  font-size: 1.7rem;
  padding-left: 1rem;
}

.amenity i {
  padding-right: 1rem;
}

@media screen and (max-width: 37.5rem) {
  .amenity {
    width: 50rem;
  }
}
/* End of Amenities section stylings */

/* Start of Contact section stylings */
.contact {
  margin-top: 3rem;
}

.contact h2 {
  font-size: 3rem;
  text-align: center;
}

.contact-container {
  display: block;
  padding: 1rem 2rem;
  background: var(--text-color);
  color: var(--text-color2);
}

.contact-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-info{
  display: flex;
  gap: 2rem;
}

.contact-info p{
  font-size: 2rem;
  text-decoration: none;
}
.contact-info h5{
  font-size: 2rem;
}

.contact-container h4 {
  padding-bottom: 1rem;
  font-size: 3rem;
  text-align: center;
}

.contact-details p {
  padding-bottom: 1rem;
  display: flex;
}

.socials {
  color: var(--text-color2);
  gap: 2rem;
  font-size: 2rem;
  transition: all ease 0.5s;
}

.socials:hover {
  color: var(--hover-color);
}

.email {
  color: var(--text-color2);
}

.contact-form {
  width: 40%;
  margin-left: 30%;
  padding: 2rem;
  border-radius: 3rem;
  border: 1px solid var(--text-color);
  margin-bottom: 3rem;
}

.form-details {
  display: flex;
  padding-bottom: 1rem;
}

label {
  font-size: 1.7rem;
  padding-right: 2rem;
}
.form-details input{
  width: 32rem;
}


.form-details textarea {
  margin-left: 1.3rem;
  width: 32rem;
}

.btn1 {
  background: var(--secondary-color);
  border: none;
  width: 42rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 4px;
  color: var(--text-color2);
}

footer {
  font-size: 2rem;
  text-align: center;
  background: var(--text-color);
  color: var(--text-color2);
}

.more-info h4 {
  font-size: 2rem;
  padding-bottom: 1rem;
}

@media screen and (max-width: 56.25rem) {
  .contact-form{
    flex-wrap: wrap;
    margin-left: 20%;
  }
  .contact-details{
    display: block;
    padding: 0;
  }
  .contact-info{
    text-align: center;
    padding-left: 20%;
  }
  .btn1{
    width: 35rem;
    flex-wrap: wrap;
  }
  input{
    width: auto;
  }
}

@media screen and (max-width: 46.88rem) {
  .contact-container {
    display: block;
    padding-left: 4rem;
    flex-wrap: wrap;
  }
  input{
    width: auto;
  }

  .contact-details,
  .contact-form {
    padding-bottom: 3rem;
  }
  .contact-form{
    width: 50%;
  }
  .btn1{
    width: 27rem;
  }
  .contact-details{
    display: block;
    text-align: center;
  }
}

@media screen and (max-width: 37.5rem){
  .btn1{
    width: 20rem;
  }
  .contact-form{
    width: 60%;
  }
  .input{
    width: auto;
  }
}

@media screen and (max-width: 71.25rem) {
  .contact-form{
    width: 50%;
    gap: 2rem;
    padding: 2rem;
  }
  input{
    width: auto;
  }
  
}
/* End of footer section stylings */
